.contacto-container {
  width: 100%;

  position: relative;
  margin-top: 70px;
}

.contacto-titulo {
  font-size: 50px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;

  width: 60%;
  margin: 0px auto 0px auto;
  padding-bottom: 10px;

  text-align: center;

  border-bottom: 1px solid rgb(24, 24, 24);
  color: rgb(24, 24, 24);
}

.contacto-texto {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin: 30px auto 0px auto;
  line-height: 40px;
  justify-content: left;
  width: 60%;
  text-align: justify;
  font-weight: 300;
}

.col-md-10 {
  margin: auto;
}

.contacto-container input,
.contacto-container textarea {
  width: 100%;
  height: 45px;
  box-sizing: border-box;

  resize: none;
  box-shadow: 0px 0px 1px black;
  border-radius: 3px;
  outline: 0 !important;
  border: 0;
  border: 1px solid rgba(46, 46, 46, 0.5);
  margin: 22px auto;
  padding: 20px 10px;
  font-size: 18px;
}

.contacto-container .container {
  padding: 20px 0;
}

.contacto-container input:focus,
.contacto-container textarea:focus {
  color: rgba(0, 0, 0, 0.76);
  border: 1px solid rgba(46, 46, 46, 0.5);
  box-shadow: 0px 0px 5px black;
}

.contacto-container textarea {
  height: 140px !important;

  width: 100%;
}

.btn-main-offer {
  width: 100%;

  padding: 10px;
  background-color: var(--primarygreen);
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.btn-main-offer:hover {
  background-color: var(--contrastgreen);
}

.swal-text {
  line-height: 27px;
}
.swal button {
  background-color: var(--primarygreen);
  width: 430px;
}
.swal button:hover {
  background-color: rgba(66, 169, 57, 0.911) !important;
}

/********** QUERIES *********/
@media only screen and (max-width: 1600px) {
  .contacto-container input,
  .contacto-container textarea {
    width: 80%;
  }

  .contacto-container textarea {
    width: 80%;
  }

  .btn-main-offer {
    width: 80%;
    margin-left: 93px;
  }
}
@media only screen and (max-width: 1250px) {
  .contacto-titulo {
    width: 70%;
  }

  .contacto-texto {
    width: 70%;
  }

  .contacto-container input,
  .contacto-container textarea {
    width: 70%;
  }

  .contacto-container textarea {
    width: 70%;
  }

  .btn-main-offer {
    width: 70%;
    margin-left: 140px;
  }
}

@media only screen and (max-width: 1200px) {
  .btn-main-offer {
    width: 70%;
    margin-left: 118px;
  }
}

@media only screen and (max-width: 1050px) {
  .contacto-titulo {
    font-size: 45px;
  }

  .contacto-texto {
    font-size: 19px;
  }
}

@media only screen and (max-width: 992px) {
  .contacto-container input,
  .contacto-container textarea {
    width: 100%;
  }

  .contacto-container textarea {
    width: 100%;
  }

  .btn-main-offer {
    width: 100%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 840px) {
  .contacto-titulo {
    font-size: 40px;
    padding-bottom: 5px;
  }

  .contacto-texto {
    font-size: 18px !important;
    line-height: 38px;
  }

  .contacto-container input,
  .contacto-container textarea {
    width: 80%;
  }

  .contacto-container textarea {
    width: 80%;
  }

  .btn-main-offer {
    width: 80%;
    margin-left: 60px;
  }
}
@media only screen and (max-width: 773px) {
  .btn-main-offer {
    margin-left: 53px;
  }
}

@media only screen and (max-width: 710px) {
  .contacto-titulo {
    font-size: 38px !important;
    padding-bottom: 0px;
    width: 75%;
  }

  .contacto-texto {
    font-size: 16px !important;
    line-height: 35px;
    width: 75%;
  }
}

@media only screen and (max-width: 600px) {
  .contacto-titulo {
    font-size: 35px !important;
    width: 80%;
  }

  .contacto-texto {
    font-size: 15px !important;

    width: 80%;
  }

  .contacto-container input,
  .contacto-container textarea {
    width: 90%;
    height: 40px;

    margin: 20px auto;

    font-size: 17px;
  }

  .contacto-container textarea {
    height: 140px !important;

    width: 90%;
  }

  .btn-main-offer {
    width: 90%;
    margin-left: 25px;
  }
}

@media only screen and (max-width: 500px) {
  .contacto-titulo {
    font-size: 30px !important;
  }

  .contacto-texto {
    font-size: 15px !important;
    line-height: 25px !important;
  }

  .contacto-container input,
  .contacto-container textarea {
    width: 80%;

    margin: 15px auto;

    font-size: 16px;
  }

  .contacto-container textarea {
    height: 130px !important;

    width: 80%;
  }

  .btn-main-offer {
    width: 80%;
    margin-left: 42px;
  }

  .swal button {
    width: 100%;
  }
}

/*

.contacto-container input,
.contacto-container textarea {
  width: 100%;
  box-sizing: border-box;
  background-color: none;
  resize: none;
  border: 0;
  border-bottom: 2px solid gray;
} */
/* 
.contacto-content {
  font-family: "Poppins", sans-serif;
  text-align: justify;
  width: 100%;
  margin: auto;
  display: flex;
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
}

.texto-izq {
  width: 40%;
  margin: 70px 0px 0px 300px;
}

.contacto-links {
  display: flex;
  margin: auto 150px;
}

.contacto-links a {
  text-decoration: none;

  padding: 20px;
  margin: auto;
  text-align: center;
}
.contacto-links a:hover p {
  border-bottom: 1px solid black;
}

.contacto-links img {
  width: 50px;
  margin-top: 20px;
  margin-bottom: -10px;
}

.contacto-links p {
  font-size: 20px;
  margin: 7px auto;
  padding: 0 10px;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.contacto-options-container {
  width: 55%;
  margin: 120px auto;
  text-align: left;
}

.contacto-option {
  margin-bottom: 50px;
  margin-left: 150px;
  width: 400px;
  font-size: 24px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.911);
  padding-bottom: 10px;
}

.contacto-option img {
  height: 40px;
  margin-right: 20px;
} */
/* 

.contacto-form .col-md-8 {
  margin: 10px 70px;
}

.contacto-form input {
  margin: 20px 10px;
  height: 50px;
  border: 1px solid rgb(70, 69, 69);
  outline: 0 !important;
  box-shadow: none !important;
}

.contacto-form input:focus {
  background-color: transparent;
  border: 1px solid rgb(70, 69, 69);
}

.contacto-form textarea {
  margin: 0px 10px;
  height: 150px;
  max-height: 150px;
  min-height: 150px;
  border: 1px solid rgb(70, 69, 69);
  outline: 0 !important;
  box-shadow: none !important;
}

.contacto-form textarea:focus {
  background-color: transparent;
  border: 1px solid rgb(70, 69, 69);
}

.contact-btn {
  width: 100%;
  padding: 0px 40px;
  font-size: 19px;
  border-radius: 6px;
  margin: 10px;
  background-color: var(--primarygreen);
} */
