.footer-container {
  padding: 50px;
  background-color: var(--primaryblack);
  color: rgb(163, 163, 163);
  margin: 50px 0 0 0;
}

.footer-container a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(163, 163, 163);
}

.footer-container a:hover {
  text-decoration: none;
  color: var(--primarygreen);
}

.footer-container p {
  margin-bottom: 0;
}

.footer-nav {
  font-size: 16px;
  margin-top: 0px;
}

.links-social-footer {
  margin: 0 50px;
  padding: 0 10px;
}
.links-social-footer a {
  margin: 0px 30px;
}

.icon-footer {
  height: 40px;
  color: white;
}

.links-social-footer a p {
  margin: 10px -5px;
}

.copyright-text-footer {
  font-size: 17px;
  text-align: center;
  padding: 20px 0;
  color: rgb(85, 84, 84);
}

/********** QUERIES *********/

@media only screen and (max-width: 1200px) {
  .links-social-footer {
    margin: 0 20px;
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1050px) {
  .contacto-titulo {
    font-size: 45px;
  }

  .contacto-texto {
    font-size: 21px;
  }
}

@media only screen and (max-width: 992px) {
  .links-social-footer {
    padding: 0;
    width: 10%;
  }
  .footer-nav {
    margin-left: -30px;
  }

  .links-social-footer {
    margin: 0 50px;
  }

  .copyright-text-footer {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 773px) {
  .links-social-footer {
    padding: 0;
    width: 10%;
  }
  .footer-nav {
    margin-left: -30px;
  }

  .links-social-footer {
    margin: 50px 170px 0 170px;
  }

  .copyright-text-footer {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 577px) {
  .footer-container .links-social-footer {
    padding: 0;
    width: 10%;
  }

  .footer-nav-container {
    margin: 40px 0px;

    padding: 0px;
  }

  .footer-nav {
    display: none;
  }

  .links-social-footer {
    margin: -90px 0px 0 0px;
    z-index: 999;
  }

  .copyright-text-footer {
    margin: 0;
  }
}
