.navbar-container {
  height: 90px;
  width: 100%;
  padding: 0px 100px 0px 150px;

  border-top: 4px solid var(--primarygreen);
  border-bottom: 1px solid rgba(255, 255, 255, 0.158);
  background-color: rgb(5, 6, 8, 0.9);

  display: flex;
  position: fixed;

  z-index: 5;
}

.logo-container {
  width: 18%;
  display: flex;
  color: rgb(231, 230, 230);
  cursor: pointer;

  margin: 15px 0;
}

.logo-name a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.logo-img {
  height: 65px;
  width: 65px;
  margin-top: -3px;
}

.logo-name {
  font-family: "Bungee", cursive;
  letter-spacing: 1.5px;
  font-size: 40px;
  margin: auto 0 auto 17px;
  color: #fff;
}
.logo-name strong {
  color: var(--primarygreen);
}

.navbar-links-container {
  margin: 27px 0 auto auto;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  text-align: right;
}

.navbar-links-ul {
  display: flex;
  list-style: none;
}

.navbar-link {
  margin: auto 22px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  font-weight: 400;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;

  border-top: 4px solid rgb(78, 173, 186, 0);
}

.navbar-link:hover {
  border-top: 3px solid var(--primarygreen);
  text-decoration: none;
  color: white;
  /* font-style: italic; */
}

/********** QUERIES *********/
@media only screen and (max-width: 1550px) {
  .navbar-container {
    padding: 0px 50px 0px 50px;
  }

  .navbar-link {
    margin: auto 17px;
  }
}

@media only screen and (max-width: 1350px) {
  .navbar-container {
    padding: 0px 10px 0px 25px;
  }

  .navbar-link {
    margin: auto 15px;
  }
}

@media only screen and (max-width: 1250px) {
  .navbar-container {
    padding: 0px 0px 0px 15px;
  }

  .logo-img {
    height: 55px;
    width: 55px;
    margin-top: 7px;
  }

  .logo-name {
    font-size: 35px;
    margin: auto 0 auto 10px;
    letter-spacing: 1px;
  }

  .navbar-link {
    margin: auto 0px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 950px) {
  .navbar-container {
    padding: 0px 0px 0px 50px;
  }

  .logo-img {
    height: 55px;
    width: 55px;
    margin-top: 7px;
  }

  .logo-name {
    font-size: 35px;
    margin: auto 0 auto 10px;
    letter-spacing: 1px;
  }

  .navbar-link {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .navbar-container {
    padding: 0px 0px 0px 30px;
    height: 70px;
  }

  .logo-img {
    height: 45px;
    width: 45px;
    margin-top: 0px;
  }

  .logo-name {
    font-size: 30px;
    margin: auto 0 auto 10px;
    letter-spacing: 1px;
  }

  .navbar-link {
    display: none;
  }
}
