.navbar-container {
  height: 80px;
  width: 100%;
  /* padding: 0px 100px 0px 100px; */

  border-top: 4px solid var(--primarygreen);
  border-bottom: 1px solid rgba(255, 255, 255, 0.158);
  background-color: rgb(5, 6, 8, 0.9);

  display: flex;
  position: fixed;

  z-index: 5;
}

.navbar-links-container {
  margin: 23px auto;
  padding: 5px;
  font-family: "Poppins", sans-serif;
}

.navbar-links-ul {
  display: flex;
  list-style: none;
}

.navbar-link {
  margin: auto 22px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  font-weight: 400;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;

  border-top: 4px solid rgb(78, 173, 186, 0);
}

.navbar-link:hover {
  border-top: 3px solid var(--primarygreen);
  text-decoration: none;
  color: white;
  /* font-style: italic; */
}

.btn-navbar {
  display: none;
}

#hidden {
  display: flex;
}

/********** QUERIES *********/
@media only screen and (max-width: 1550px) {
}
/* 
@media only screen and (max-width: 1350px) {
  .navbar-container {
    padding: 0px 10px 0px 25px;
  }

  .navbar-link {
    margin: auto 15px;
  }
}

@media only screen and (max-width: 1250px) {
  .navbar-container {
    padding: 0px 0px 0px 15px;
  }

  .logo-img {
    height: 55px;
    width: 55px;
    margin-top: 7px;
  }

  .logo-name {
    font-size: 35px;
    margin: auto 0 auto 10px;
    letter-spacing: 1px;
  }

  .navbar-link {
    margin: auto 0px;
    font-size: 16px;
  }
} */
@media only screen and (max-width: 1170px) {
  .navbar-container {
    padding: 0px 0px 0px 15px;
  }
  .navbar-container {
    padding: 0px 0px 0px 0px;
  }
}

@media only screen and (max-width: 1000px) {
  .navbar-container {
    height: 60px;
  }

  .navbar-links-container {
    margin: 14px auto;

    text-align: center;
  }

  .navbar-link {
    font-size: 16px;
    margin: auto 12px;
  }

  .navbar-link:hover {
    border-top: 3px solid rgba(255, 255, 255, 0);
  }
}

@media only screen and (max-width: 800px) {
  .navbar-link {
    font-size: 16px;
    margin: auto 17px;
    padding: 0;
  }
}

@media only screen and (max-width: 740px) {
  .navbar-link {
    font-size: 15px;
    margin: auto 10px;
    padding: 0;
  }
}

@media only screen and (max-width: 700px) {
  .navbar-container {
    border-top: 2px solid var(--primarygreen);
  }

  .navbar-links-container {
    margin: 0;

    width: 100%;
    justify-content: right;
  }

  .navbar-links-ul {
    display: none;
  }

  .btn-navbar {
    display: flex;
    margin: 10px 30px;
    font-size: 30px;
    float: right;
    color: white;
  }

  #hidden {
    position: absolute;
    right: 0;
    top: 56px;
    height: 390px;
    width: 100%;
    background-color: rgb(5, 6, 8, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-links-li {
    margin: 18px;
  }

  .navbar-link {
    font-size: 16px;
  }
}

@media only screen and (max-width: 620px) {
}

@media only screen and (max-width: 582px) {
  /* .navbar-container {
    display: none;
  } */
}

/* 
@media only screen and (max-width: 550px) {
  .navbar-container {
    padding: 0px 0px 0px 30px;
    height: 70px;
  }

  .logo-img {
    height: 45px;
    width: 45px;
    margin-top: 0px;
  }

  .logo-name {
    font-size: 30px;
    margin: auto 0 auto 10px;
    letter-spacing: 1px;
  }

  .navbar-link {
    display: none;
  }
} */
