.portfolio-wrapper {
  background-color: rgb(5, 6, 8, 0.9);
  padding: 3rem 0;
}

.portfolio-titulo {
  font-size: 50px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;

  width: 60%;
  margin: 30px auto 50px auto;
  padding-bottom: 10px;

  text-align: center;

  border-bottom: 1px solid rgb(219, 219, 219);
  color: rgb(219, 219, 219);
}

.portfolio-texto {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  margin: 20px auto;
  line-height: 40px;
  justify-content: left;
  width: 65%;
  text-align: justify;
  font-weight: 200;
  color: white;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.portfolio-image {
  width: 19rem;
  height: 12rem;

  margin: 30px auto 0px auto;
  padding: 2px;
  border: 1px solid rgba(255, 255, 255, 0.479);
  box-shadow: 0px 0px 3px white;
}

.portfolio-image:hover {
  filter: blur(1px);
}

.portfolio-image-box {
  position: relative;
  margin: 1rem;
}

.portfolio-image-box:hover {
  animation: bounce 1s;
}

.overflow {
  width: 19rem;
  height: 12rem;

  margin: 30px auto 0px auto;
  position: absolute;
  opacity: 0;
  background-color: black;
  top: 0;
  cursor: pointer;
}

.portfolio-image-box:hover .overflow {
  opacity: 75%;
  transition: 0.3s ease-in-out;
}

.portfolio-icon {
  color: var(--primarygreen);

  position: absolute;
  opacity: 0;
  margin-left: -165px;
  margin-top: 115px;
  font-size: 40px;
}

.portfolio-icon:hover {
  font-size: 45px;
  margin-left: -170px;
  margin-top: 110px;
}

.portfolio-image-box:hover .portfolio-icon {
  opacity: 90%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

/* MODAL */
.portfolio-popupbox-container {
  max-height: 90vh;
  width: 70vw;
  text-align: center;
  overflow: scroll;
}

.titulo-portfolio-popupbox {
  font-family: "Poppins", sans-serif;
  margin: 0px auto 30px auto;
  width: 77%;
  padding-bottom: 7px;
  color: rgba(0, 0, 0, 0.753);
  border-bottom: 2px solid rgba(0, 0, 0, 0.753);
}

.video-portfolio-popupbox {
  width: 80%;
  height: 470px;
}

.portfolio-text-popupbox {
  width: 83%;
  margin: 40px auto;
  padding: 0 20px;
  font-size: 19px;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: justify;
}

/* .link-popupbox {
  float: left;
  width: 860px;
} */

.link-popupbox b {
  font-size: 18px;
  padding: 0 0 0 20px;
}

.hyper-link-popupbox {
  cursor: pointer;
  color: var(--primarygreen);
  font-size: 18px;
}
.hyper-link-popupbox:hover {
  cursor: pointer;
  color: green;
}
/**************/
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

/********** QUERIES *********/

@media only screen and (max-width: 1800px) {
  .portfolio-texto {
    font-size: 24px;

    width: 70%;
  }
}

@media only screen and (max-width: 1500px) {
  .video-portfolio-popupbox {
    width: 95%;
    height: 400px;
  }

  .portfolio-text-popupbox {
    width: 95%;

    font-size: 18px;
    line-height: 27px;
  }
}

@media only screen and (max-width: 1400px) {
  .portfolio-icon {
    margin-left: -155px;
    margin-top: 107px;
    font-size: 37px;
  }

  .portfolio-icon:hover {
    font-size: 40px;
    margin-left: -155px;
    margin-top: 100px;
  }

  .video-portfolio-popupbox {
    height: 350px;
  }
}

@media only screen and (max-width: 1000px) {
  .portfolio-titulo {
    font-size: 45px;
    padding-bottom: 7px;
  }

  .portfolio-texto {
    font-size: 21px;
  }

  .portfolio-image-box:hover {
    animation: none;
  }

  .video-portfolio-popupbox {
    width: 95%;
    height: 300px;
  }
}

@media only screen and (max-width: 840px) {
  .portfolio-titulo {
    font-size: 40px;
    padding-bottom: 5px;
    margin: 0 auto;
  }

  .portfolio-texto {
    font-size: 20px;
    line-height: 38px;
  }

  .portfolio-icon {
    margin-left: -145px;
  }

  .portfolio-icon:hover {
    margin-left: -150px;
  }

  .video-portfolio-popupbox {
    height: 280px;
  }

  .portfolio-text-popupbox {
    width: 98%;

    font-size: 18px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 712px) {
  .portfolio-titulo {
    font-size: 38px;
    padding-bottom: 0px;
  }

  .portfolio-texto {
    font-size: 19px;
    line-height: 35px;
  }

  .portfolio-image {
    width: 24rem;
    height: 14rem;

    margin: 5px auto 0px auto;
  }

  .portfolio-image-box {
    margin: 10px;
  }

  .overflow {
    width: 24rem;
    height: 14rem;

    margin: 5px auto 0px auto;
  }

  .portfolio-icon {
    margin-left: -160px;
    margin-top: 95px;
  }

  .portfolio-icon:hover {
    margin-left: -165px;
    margin-top: 95px;
  }

  .portfolio-popupbox-container {
    max-height: 90vh;
    width: 70vw;
    text-align: center;
  }
}

@media only screen and (max-width: 610px) {
  .portfolio-titulo {
    font-size: 35px;
  }

  .portfolio-texto {
    font-size: 16px;
    line-height: 30px;
    width: 80%;
  }

  .portfolio-icon {
    margin-left: -195px;
  }

  .portfolio-icon:hover {
    font-size: 40px;
  }

  .video-portfolio-popupbox {
    width: 100%;
    height: 280px;
  }

  .portfolio-text-popupbox {
    width: 100%;

    font-size: 17px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 500px) {
  .portfolio-titulo {
    font-size: 32px;
  }

  .portfolio-texto {
    font-size: 15px;
    line-height: 30px;
    width: 80%;
  }
}

@media only screen and (max-width: 420px) {
  .portfolio-image {
    width: 20rem;
    height: 12rem;
  }

  .portfolio-image-box {
    margin: 7px;
  }

  .overflow {
    width: 20rem;
    height: 12rem;
  }

  .portfolio-icon {
    margin-left: -165px;
    margin-top: 85px;
  }

  .portfolio-icon:hover {
    margin-left: -172px;
    margin-top: 80px;
  }
}
