.presentacion-container {
  width: 100%;

  position: relative;
  margin-bottom: 0px;
}

.presentacion-titulo {
  font-size: 50px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;

  width: 60%;
  margin: 500px auto 0px auto;
  padding-bottom: 10px;

  text-align: center;

  border-bottom: 1px solid rgb(24, 24, 24);
  color: rgb(24, 24, 24);
}

.presentacion-texto {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 50px auto;
  text-align: justify;
  line-height: 40px;
  justify-content: left;
  width: 60%;
}

.presentacion-video-container {
  width: 65%;
  margin: 20px auto 0px auto;
  padding: 20px;
}

.presentacion-video {
  width: 100%;
  height: 600px;
  margin-bottom: -30px;
  border-radius: 5px;
}

.link-presentacion-texto {
  text-decoration: none;
  color: var(--primarygreen);
  cursor: pointer;
}
.link-presentacion-texto:hover {
  font-style: italic;
  text-decoration: none;
  color: var(--primarygreen);
}

.presentacion-popupbox-container {
  max-height: 90vh;
  overflow: scroll;
}

.presentacion-title-popupbox {
  width: 89%;
  margin: auto;

  padding-bottom: 5px;

  border-bottom: 2px solid rgba(0, 0, 0, 0.692);
}
/* .presentacion-popupbox-container img {
  height: 43px;
  position: absolute;
  margin: -2px auto;
} */

.presentacion-popupbox-container h2 {
  width: 93%;
  font-size: 33px;
  margin: auto;
  margin-top: 15px;
}

.presentacion-text-popupbox {
  width: 95%;
  margin: 20px auto;
  padding: 0 20px;
  font-size: 19px;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: left;
  overflow: scroll;
}

.presentacion-text-popupbox ul {
  list-style: none;
  padding-left: 2rem;
}

.presentacion-text-popupbox ul li {
  padding-left: 3rem;
  background-image: url(../images/arrow1.svg);
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
  margin: 30px 0;
}

/********** QUERIES *********/
@media only screen and (max-width: 1650px) {
  .presentacion-titulo {
    margin: 450px auto 0px auto;
  }
}

@media only screen and (max-width: 1555px) {
  .presentacion-titulo {
    margin: 300px auto 0px auto;
  }
}

@media only screen and (max-width: 1470px) {
  .presentacion-titulo {
    margin: 250px auto 0px auto;
  }
}

@media only screen and (max-width: 1370px) {
  .presentacion-titulo {
    margin: 200px auto 0px auto;
  }
}

@media only screen and (max-width: 1250px) {
  .presentacion-titulo {
    margin: 150px auto -20px auto;
  }

  .presentacion-texto {
    width: 70%;
  }

  .presentacion-video-container {
    width: 75%;

    padding: 0px;
  }

  .presentacion-video {
    width: 100%;
    height: 450px;
    margin-bottom: -30px;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 1150px) {
  .presentacion-titulo {
    margin: 230px auto -20px auto;
  }
}

@media only screen and (max-width: 1050px) {
  .presentacion-titulo {
    margin: 200px auto -20px auto;
    font-size: 45px;
  }

  .presentacion-texto {
    font-size: 21px;

    width: 70%;
  }
}

@media only screen and (max-width: 950px) {
  .presentacion-titulo {
    margin: 120px auto -20px auto;
  }

  .presentacion-text-popupbox {
    font-size: 18px;
    line-height: 25px;
  }

  .presentacion-text-popupbox ul {
    list-style: none;
    padding-left: 0rem;
  }
}

@media only screen and (max-width: 840px) {
  .presentacion-titulo {
    margin: 100px auto -20px auto;
    font-size: 40px;
    padding-bottom: 5px;
  }

  .presentacion-texto {
    font-size: 20px;
    line-height: 38px;
    width: 70%;
  }

  .presentacion-video-container {
    width: 90%;
  }

  .presentacion-video {
    width: 100%;
    height: 400px;
  }
}

@media only screen and (max-width: 710px) {
  .presentacion-titulo {
    margin: 120px auto -20px auto;
    font-size: 38px;
    padding-bottom: 0px;
  }

  .presentacion-texto {
    font-size: 19px;
    line-height: 35px;
    width: 75%;
  }

  .presentacion-video {
    width: 100%;
    height: 350px;
  }

  .presentacion-popupbox-container {
    max-height: 70vh;

    overflow: scroll;
  }

  .presentacion-text-popupbox {
    width: 100%;
    margin: 30px auto;
    padding: 0 15px;
    font-size: 17px;
  }

  .presentacion-text-popupbox ul li {
    padding-left: 2.2rem;

    background-size: 1.4rem 1.6rem;
    background-repeat: no-repeat;
    margin: 30px 0;
  }
}

@media only screen and (max-width: 600px) {
  .presentacion-titulo {
    margin: 80px auto -30px auto;
    font-size: 35px;
  }

  .presentacion-texto {
    font-size: 16px;
    line-height: 30px;
    width: 80%;
  }

  .presentacion-video-container {
    width: 90%;
    margin-top: -30px;
  }

  .presentacion-video {
    height: 280px;
    margin-bottom: -50px;
  }
}

@media only screen and (max-width: 500px) {
  .presentacion-titulo {
    margin: 70px auto -30px auto;
    font-size: 32px;
  }

  .presentacion-texto {
    font-size: 15px;
    line-height: 25px;
    width: 80%;
  }

  .presentacion-video-container {
    width: 93%;
  }

  .presentacion-video {
    height: 250px;
  }
}

@media only screen and (max-width: 400px) {
  .presentacion-video-container {
    width: 93%;
  }

  .presentacion-video {
    height: 220px;
  }
}
