/* FONTS */

/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/* Ubuntu */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

/* Bungee */
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
/********************/

/* Reset de Estilos */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* text-decoration: none; */
}

/* Variables */

:root {
  --primarygreen: rgb(67, 169, 57);
}
